@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;

    background-color: #555555;
}

.wrapper {

    max-width: 100%; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    background-color: #555555;
}

.container {
    background:#232323;
    margin-top: 20px;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    background-position: center;
    min-height: 500px;
    padding: 50px;
    max-width: 100%
}

.block {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}